@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
p {
    font-size:16px;
    color: var(--Desaturatedblue);
}
.man-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Paleblue);
    background-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    height:85%;
    background-color: var(--Verypaleblue);
    background-color:white;
    margin: auto;
    border-radius:5%;
}

.img img {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}


.text {
    text-align: center;
    padding:20px;
    line-height: 1.7;
}

.valor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Verypaleblue);
    height: 12%;
    width: 82%;
    border-radius:15px;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.valor button {
    color: var(--Brightblue);
    border: none;
}
.valor button:hover {
    text-decoration: underline;
}
.butoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.butoes button {
    color: var(--Desaturatedblue);
    border: none;
    background-color:white;
    height:50px;
    width: 90%;
    border-radius:10px;

}

.butoes button:hover {
    background-color: var(--Brightblue);
    color: white;
} 


.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: none;
}
.attribution a {
     color: hsl(228, 45%, 44%);
     display: none;
     }



@media (min-width:1440px) {
    .man-container{
        display: flex;
        height: 100vh;
        width: 100vw;
        background: url(/images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--Paleblue);
        background-size: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        height:80%;
        background-color: var(--Verypaleblue);
        background-color:white;
        margin: auto;
        border-radius:5%;
    }
}